# Editor specific files
.DS_Store
.atom/
.idea
.vscode/
*.iml

# Files and directories created by pub
.pub/
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated Javascript files:
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies